body {
  font-family: Arial, sans-serif;
  width: 250px;
  padding: 10px;
}

h2 {
  text-align: center;
  color: #444;
}

#problem-list li {
  margin: 8px 0;
  list-style: none;
}

#problem-list a {
  text-decoration: none;
  color: #0066ff;
  font-weight: bold;
}
